{% extends 'layout/app.html' %}

{% block title %}
    <title>ERPWEB - Home Page</title>
{% endblock %}

{% block scriptsheader %}
<!-- inserir script/css no header -->
{% endblock %}

{% block header %}
  <h1> Home Page </h1>
{% endblock %}
    

{% block content %}
  <div class="text-center"> <span class="titulo"> Seja Bem vindo a Intranet da Rede Guapo!</span></div><br>
          
  <div class="justify-between px-4">
      <span class="subtitulo"> Informações</span><br>
      <span class="texto pt-2"> A nova intranet da Rede Guapo está em desenvolvimento, visando facilitar a vida do funcionário.<br> Fique atento as notícias e informações aqui no portal para estar sempre atualizado! </span><br>
  </div>
  <div class="grid grid-cols-3 gap-3 pt-4">
    <div class="gridguapo">
      <span class="subtitulo"> Novidades</span>  <br>
      <span class="texto pt-2"> A nova intranet da Rede Guapo está em desenvolvimento, visando facilitar a vida do funcionário. Fique atento as notícias e informações aqui no portal para estar sempre atualizado! </span><br>
    </div>
    <div  class="gridguapo">
      <span class="subtitulo"> Novos Funcionários</span>  <br>
      <span class="texto pt-2"> Nome do funcionário - <strong>01/07/2025</strong> </span><br></div>
    <div class="gridguapo">
      <span class="subtitulo"> Aniversáriantes do Mês</span>  <br>
      <span class="texto pt-2"> 
        Nome do funcionário - <strong>01/07/2025</strong><br>
        Nome do funcionário - <strong>01/07/2025</strong><br>
        Nome do funcionário - <strong>01/07/2025</strong><br>
      </span>
    </div>
  </div>
{% endblock %}
    
{% block page_js %}
<!-- inserir script no footer da pagina -->
{% endblock %}
    







